# IDE
.idea/
.vscode/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env/
.venv/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Test output
.coverage
.tox/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / Packaging
build/
dist/
*.egg-info/